<h1>Welcome to .chitter</h1>

Have a little browse of the gems that have been peeped:

  <ul id='peeps'>
    <% @peeps.reverse_each do |peep| %>
      <%= partial :peep, :locals => {:peep => peep}  %>
    <% end %>
  </ul> 









