<!DOCTYPE html>
<html>
<head>
	<title>.chitter</title>
  <link rel="stylesheet" type="text/css" href="/css/reset.css">  
  <link rel="stylesheet" type="text/css" href="/css/application.css">  
</head>
<body>
  <div class="wrapper">
    <%= partial :header %>
    <%= partial :flash %>
    <div id='container'>
      <%= yield %>
    </div>
    <div class="push"></div>
  </div>
  <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
  <div class="footer">
    <%= partial :footer %>
  </div>
</body>
</html>

